# Ignorer tous les fichiers .csv
/data_brutes/data_articles/*.csv
/data_brutes/data_books/*.csv
/data_brutes/data_books/*.txt
/resources/config_elastic_connet.json
/src/api/ressources/ca
/.iead
/_pycache_
